@using Systrade.Cadastro.UI.Mvc.PermissionHelper
@using Microsoft.AspNet.Identity

@{
    if (this.IfClaim("Systrade", "A"))
    {
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Olá @User.Identity.GetUserName()!
        </a>
        <div class="dropdown-menu bg-dark _menusuario" aria-labelledby="navbarDropdown">

            <a class="nav-link" href="~/Manage/ChangePassword">Alterar senha</a>

            @Html.ActionLink("Editar dados", "AtualizarUsuario", "AgenciaUsuario", routeValues: new { @id = User.Identity.GetUserId() },
                  htmlAttributes: new { @tabindex = -1, @class = "nav-link" })
        </div>

    }
    else
    {
        <a href="#" class="nav-link">Olá @User.Identity.GetUserName()!</a>
    }
}


