
@if (!string.IsNullOrEmpty(ViewBag.Menssagem))
{
    <div class="alert alert-success _alertasucesso">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="text-center">@ViewBag.Menssagem</h4>
    </div>
}
