@model Systrade.Clientes.Applications.ViewModel.CelulaViewModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCelula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCelula)
        </dd>

    </dl>
</div>
