@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Bloqueado";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <section>
        <div class="container-fluid">
            <img src="~/Content/img/bloqueado.png" class="img-thumbnail offset-4" />
            <h2 class="text-danger">Esta conta foi bloqueada ou está inativa, tente novamente mais tarde.</h2>


        </div>
    </section>
</body>
</html>
