@model Systrade.Aplicacao.ViewModel.ClaimsViewModel



    <div class="claims">
        <select class="selectpicker form-control" data-style="bg-info text-white" id="permissoes" title="Permissões">
            <option value="0" class="hidden"></option>
        </select>
    </div>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
